@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Inter:wght@400&display=swap');


body {
    background-color: #0d1117; 
    /* color: #c9d1d9; */
    transition: background 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background: url('images/bg_2.png') no-repeat center center/cover;
    /* opacity: 0.5; */
    padding: 60px 0;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header h1,
header p,
nav, ul, li, a,
.profile-pic {
    position: relative;
    z-index: 3;
    font-size: 36px;
    letter-spacing: 3px;
}

header p {
    font-size: 54px;
    letter-spacing: 1px;
    text-align: center;
}

nav, ul, li, a {
    list-style: none;
    color: #fff;
    display: flex;
    justify-content:space-around;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    margin: 0px 24px 0px 0px;
}

nav, ul, li, a:hover {
    list-style: none;
    color: #000;
    cursor: pointer;
    display: flex;
    justify-content:space-around;
    text-decoration: none;
    margin: 0px 24px 0px 0px;
    font-weight: 500;
    color: #58a6ff;
}

/* Profile Picture */

.about_container{
    width: 100%;
    /* display: flex;
    flex-direction: row;
    align-items: center; */

}
#about {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    /* display: grid; */
    padding: 0px 100px 0px 100px; 
}

.about_container h2{
    color: #fff;
    font-size: 44px;
}

.about_me {
    width: 95%;
    margin-top: 100px;
    /* width: 50vw; */
    text-align: justify;
    padding-left: -50px;
    font-weight: 100;
    font-size: 18px;
    line-height: 30px;
}

.about_me a{
    margin-top: 30px;
    /* text-align: right; */
    color: #58a6ff;
    font-size: 24px;
    float: right;
    margin-right: 0px;
}

.about_me a:hover{
    color: #4a90e2;
}

.profile-pic {
    width: 300px;
    /* height: 200px; */
    /* border-radius: 50%; */
    /* margin: 15px 0; */
    /* border: 3px solid #58a6ff; */
    float: left;
    margin: -50px 70px 70px 100px;
    border-radius: 10%;
    /* object-fit: cover; */
}

/* Projects */
.projects-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

.project {
    background: #161b22;
    /* padding: 20px; */
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
    border: 1px solid #062a53;
}

#projects h2{
    color: #fff;
    font-size: 44px;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 70px;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 100%;
    height: 70%;
    border-radius: 8px;
    margin-bottom: 10px;
    /* margin-left: -20px; */
    align-content: center;
    justify-content: center;
}

/* #project_3 {
    margin-top: -50px;
} */

fieldset {
    margin: 80px;
    padding-bottom: 50px;
    border-radius: 5%;
    border: 1px solid #597392;
}

/* Skills */
#skills {
    color: #fff;
    text-align: center;
    font-size: 40px;
}

.skills-list li:hover {
    transform: scale(1.08);
    background-color: #4a90e2;
}

#skills h2 {
    color: #fff;
    text-align: center;
    font-size: 44px;
}

.skills-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.skills-list li {
    background: #58a6ff;
    color: #0d1117;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}

/* Contact */
#contact h2 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
    font: 500;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 900px;
    margin: auto;
}

input, textarea {
    padding: 16px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

textarea {
    height: 120px;
    resize: none;
}

button {
    padding: 12px;
    background: #58a6ff;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4a90e2;
}

/* Social Links */
.social-links {
    color: #fff;
    font-size: 1.5rem;
    margin: 10px;
    transition: 0.3s;
    justify-content: center;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    margin-top: 50px;

}

.social-links a {
    font-size: 30px;
}

.social-links a:hover {
    color: #4a90e2;
}

footer {
    color: #fff;
    float: right;
    margin-right: 50px;
    letter-spacing: 1px;
}
